<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.abstractionizer.login.jwt3.db.rmdb.mappers.UserMapper">
    <update id="updateLastLoginTime">
        UPDATE user
        set last_login_time = NOW()
        WHERE username = #{username}
    </update>

    <update id="updateUserInfo">
        UPDATE user
        <set>
            <if test="user.username != null">
                username = #{user.username},
            </if>
            <if test="user.email != null">
                email = #{user.email},
            </if>
            <if test="user.phone != null">
                phone = #{user.phone},
            </if>
        </set>
        WHERE id = #{user_id}
    </update>

    <select id="countByUsername" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM user
        WHERE username = #{username}
    </select>
    <select id="getByUsername" resultType="com.example.abstractionizer.login.jwt3.db.rmdb.entities.User">
        SELECT *
        FROM user
        WHERE username = #{username}
    </select>
    <select id="countByUserIdOrUsername" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM user
        <where>
            <if test="user_id > 0">
                AND id = #{user_id}
            </if>
            <if test="username != null">
                AND username = #{username}
            </if>
        </where>
    </select>

    <resultMap id="UserInfoVo" type="com.example.abstractionizer.login.jwt3.models.vo.UserInfoVo">
        <id column="id" property="userId" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getByUserIdOrUsername" resultMap="UserInfoVo">
        SELECT id, username, email, phone
        FROM user
        <where>
            <if test="user_id != null ">
                AND id = #{user_id}
            </if>
            <if test="username != null">
                AND username = #{username}
            </if>
        </where>
    </select>
</mapper>